.fms-main-section{
    min-width: 70%;
    height: calc(100vh - 48px);
    background-color: #313338;                                  
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}
.fms-search-bar{
    margin:16px 20px 8px 30px;
    display: flex;
    align-items: center;
    background-color:#1e1f22;
    border-radius: 5px;
}
.fms-search-bar input{
    width: 100%;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 7px;
    caret-color: #a4abb6;
    color: #a4abb6;
    background-color: transparent;
}
.fms-search-bar input::placeholder{
    color: #a4abb6;
    font-weight: 300;
}
.fms-search-bar button{
    width: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    cursor: text;
    margin-right: 5px;
}
.fms-search-bar button .fms-search-btn{
    color: #a4abb6;
    font-size: 20px;
}

.fms-all-friend-text{
    margin: 16px 20px 8px 30px;
    font-size: 13px;
    letter-spacing: 1px;
    transform: scaleY(0.9);
    font-weight: 450;
    color: #a4abb6;
}



.fms-friend-list{
    overflow: hidden;
    margin-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
    margin-right: 20px;
}
.fms-friend-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}

.friendsFound{
    background-color: transparent;
    height: 550px;
    border-radius: 8px;
    background-color: #1e1f222d;
    overflow: hidden auto;
}
.friendsFound::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
}

.friendsFound::-webkit-scrollbar-thumb {
    background-color: #1e1f22;
    border-radius: 8px;
}
.ff-friend{
    width: 100%;
    
}




/* add Friend Box styles */
.fms-search-friend{
    margin: 16px 20px 8px 30px;
    
}
.fms-search-friend p:nth-child(1){
    color: #ebebeb;
    font-size: 16px;
    font-weight: 550;
}
.fms-search-friend p:nth-child(2) {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
.fmssf-input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom:20px;
    border-bottom: 1px solid #a4abb67b;
}
.fmssf-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fmssf-input input:nth-child(1){
    margin-right: 20px;
}
.fmssf-input input{
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1e1f22;
    color: aliceblue;
    outline: 1px solid rgb(9, 185, 255);
}
.fmssf-input input::placeholder {
    color: rgba(240, 248, 255, 0.689);
    font-weight: 300;
}
.fmssf-input-box button{
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 3px;
    min-width: 250px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    background-color: #5865f2;
    color: #fff;
}
.fmssf-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.fmssf-img p{
    margin-top: 20px;
    color: #ebebeb69;
}



/* Online section styles */
.fms-online .fms-no-one-online{
    display: flex;
    height: calc(100vh - 48px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fms-no-one-online p{
    margin-top: 60px;
    color: #a4abb6;
}