.fms-main-section{
    min-width: 70%;
    height: calc(100vh - 48px);
    background-color: #313338;                                  
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}
.fms-search-bar{
    margin:16px 20px 8px 30px;
    display: flex;
    align-items: center;
    background-color:#1e1f22;
    border-radius: 5px;
}
.fms-search-bar input{
    width: 100%;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 7px;
    caret-color: #a4abb6;
    color: #a4abb6;
    background-color: transparent;
}
.fms-search-bar input::placeholder{
    color: #a4abb6;
    font-weight: 300;
}
.fms-search-bar button{
    width: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    cursor: text;
    margin-right: 5px;
}
.fms-search-bar button .fms-search-btn{
    color: #a4abb6;
    font-size: 20px;
}

.fms-all-friend-text{
    margin: 16px 20px 8px 30px;
    font-size: 13px;
    letter-spacing: 1px;
    transform: scaleY(0.9);
    font-weight: 450;
    color: #a4abb6;
}



.fms-friend-list{
    overflow: hidden;
    margin-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
    margin-right: 20px;
}
.fms-friend-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}

.friendsFound{
    background-color: transparent;
    height: 550px;
    overflow: hidden auto;
}
.friendsFound::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
}

.friendsFound::-webkit-scrollbar-thumb {
    background-color: #1e1f22;
    border-radius: 8px;
}
.ff-friend{
    width: 100%;
    height: 62px;
    display: flex;
    border-top: 1px solid #9494943b;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.fffinsn-span{
    display: none;
}
.ff-friend:hover{
    background-color: #a4abb628;
}
.ff-friend:hover .fffinsn-span{
    display: block;
}
.fff-info{
    display: flex;
    align-items: center;
}
.fffi-name-status{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    line-height: 1.3;
}
.fffins-name{
    display: flex;
    align-items: center;
}
.fffi-pic > img{
    min-height: 34px;
    min-width: 34px;
    max-width: 34px;
    max-width: 34px;
    margin-left: 10px;
    border-radius: 50%;
}

.fff-icons{
    margin-right: 10px;
    display: flex;
}
.ff-friend:hover .fffii-icon{
    background-color: #1e1f22;
}
.fffii-icon{
    border-radius: 50%;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px 11px;
    background-color: #14141431;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fffa-outer{
    position: absolute;
    height: 11px;
    width: 11px;
    /* #313338 */
    outline: 3px solid #313338;
    border-radius: 50%;
    transform: translate(34px, -15px);
}

.online{
    background-color:#32ae5f;
}
.fffa-inner.invisible{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #7b8792;
    background-color: #313338;
}
.fffa-outer.dnd{
    background-color: #f23f43;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fffa-inner.dnd{
    height: 2.5px;
    width: 7px;
    background-color: #313338;
    border-radius: 2px;
    margin-top: 0.5px;
}

.fffa-outer.idle{
    background-color: #f0b232;
}
.fffa-inner.idle{
    background-color: #313338;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.fffiii-text{
    position: fixed;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    background-color: #1e1f22;
    border-radius: 5px;
    transform: translateY(-40px);
    display: none;
}
.fffiii-text::before{
    content: '';
    position: fixed;
    height: 8px;
    width: 8px;
    transform: translate(23px, 18px) rotate(45deg);
    background-color: #1e1f22;
}
.fffiii-text.pending::before {
    content: '';
    position: fixed;
    height: 8px;
    width: 8px;
    transform: translate(17px, 18px) rotate(45deg);
    background-color: #1e1f22;
}

.fffii-icon:hover .fffiii-text{
    display: block;
}
.fffii-icon.pending-reject{
    padding: 10px;
}

.fffii-icon.pending-accept:hover .pa-accept{
    color: #32ae5f;
}
.fffii-icon.pending-reject:hover .pa-reject {
    color: #ef3f42;
}

.fffiii-more{
    position: fixed;
        white-space: nowrap;
        color: #fff;
        font-size: 12px;
        padding: 4px 8px;
        background-color: #1e1f22;
        border-radius: 5px;
        transform: translateY(-40px);
        display: none;
}
.fffiii-more::before{
    content: '';
        position: fixed;
        height: 8px;
        width: 8px;
        transform: translate(11px, 18px) rotate(45deg);
        background-color: #1e1f22;
}
.fffiii-more.pending::before {
    content: '';
    position: fixed;
    height: 8px;
    width: 8px;
    transform: translate(16px, 18px) rotate(45deg);
    background-color: #1e1f22;
}
.fffii-icon:hover .fffiii-more{
    display: block;
}



/* add Friend Box styles */
.fms-search-friend{
    margin: 16px 20px 8px 30px;
    
}
.fms-search-friend p:nth-child(1){
    color: #ebebeb;
    font-size: 16px;
    font-weight: 550;
}
.fms-search-friend p:nth-child(2) {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
.fmssf-input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom:20px;
    border-bottom: 1px solid #a4abb67b;
}
.fmssf-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fmssf-input input:nth-child(1){
    margin-right: 20px;
}
.fmssf-input input{
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1e1f22;
    color: aliceblue;
    outline: 1px solid rgb(9, 185, 255);
}
.fmssf-input input::placeholder {
    color: rgba(240, 248, 255, 0.689);
    font-weight: 300;
}
.fmssf-input-box button{
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 3px;
    min-width: 250px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    background-color: #5865f2;
    color: #fff;
}
.fmssf-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.fmssf-img p{
    margin-top: 20px;
    color: #ebebeb69;
}



/* Online section styles */
.fms-online .fms-no-one-online{
    display: flex;
    height: calc(100vh - 48px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fms-no-one-online p{
    margin-top: 60px;
    color: #a4abb6;
}