
.friendsBar{
    min-width: 240px;
    max-width: 240px;
}
.findConversation{
    background-color: #2b2d31;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 0 10px;
    border-bottom: 2px solid #1e1f22;
}
.findConversation button{
    height: 28px;
    width: 220px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    color: #949BA4;
    background-color: #1e1f22;
}


.dmList::-webkit-scrollbar{
    width: 7px;
    background-color:#2b2d31;
}
.dmList::-webkit-scrollbar-thumb{
    background-color:#1a1b1e;
    border-radius: 2px;
    display: none;
}
.dmList:hover::-webkit-scrollbar-thumb{
    display: block;
}

.dmList{
    background-color: #2b2d31;
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    z-index: 1;
    overflow: hidden scroll;
    padding-right: 4px;
    margin-top: 48px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dmList .friends{
    width: 100%;
    background-color: transparent;
    color: rgb(183, 183, 183);
    cursor: pointer;
    border-radius: 5px;
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
}

.dmList button>.friendIcon{
    width: 24px;
    height: 24px;
    color: rgb(183, 183, 183);
    margin-right: 16px;
}

.dmList .friends.active {
    background-color: #6d717a73;
    color: #fff;
}

.dmList .friends.active .friendIcon {
    color: #fff;
}
.dmList .friends:hover{
    background-color: #6d717a37;
    color: #e3e3e3;
}

.dmList .friends:hover .friendIcon {
    color:#e3e3e3;
}

.dmList .createDm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    cursor:default;
    margin-bottom: 8px;
}

.dmList .createDm h5{
    font-size: 12px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 400;
    color:#fff;
}

.dmList .createDm>button{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}
.dmList .createDm > button .createIcon{
    color: #fff;
}
.createDm .btn-info{
    position: fixed;
    background-color: #1a1b1e;
    color:#fff;
    padding: 6px 15px;
    border-radius: 8px;
    font-size: 13px;
    z-index: 999;
    display: none;
    top: 125px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.createDm .btn-info::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color:#1a1b1e;
    transform:translate(30px,19px) rotate(45deg);
}
.dmList .createDm>button:hover .btn-info{
    display: block;
}



/* current-user-bar */
.current-user-bar{
    height: 52px;
    width: 240px;
    background-color: #232428;
    z-index: 5;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
}

.current-user-bar>.user-info {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 5px;
    width: 135px;
    overflow: hidden;
}
.current-user-bar>.user-info:hover {
    background-color: rgba(113, 121, 139, 0.265);
}

.current-user-bar>.user-info img{
    min-height: 32px;
    min-width: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.current-user-bar>.user-info>.user-name {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    line-height: 0.999;
}

.current-user-bar>.user-info>.user-name p:nth-child(1){
    color: #f2f3f5;
    font-weight: 550;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.current-user-bar>.user-info>.user-name p:nth-child(2) {
    color: #b5bac1;
    font-size: 12px;
}

.current-user-bar .user-settings-btn{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.current-user-bar .user-settings-btn .settings-btn{
    color: #DBDEE1;
    font-size: 20px;
    transition: .2s linear;
}

.current-user-bar .user-settings-btn:hover {
    background-color: #949ba442;
}
.current-user-bar .user-settings-btn:hover .settings-btn{
    transform: rotate(90deg);
}
.user-settings-btn > .btn-info{
    position: fixed;
    background-color: #1a1b1e;
    color: #fff;
    padding: 6px 15px;
    border-radius: 8px;
    font-size: 13px;
    z-index: 999;
    display: none;
    transform: translateY(-43px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.user-settings-btn > .btn-info::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #1a1b1e;
    transform: translate(37px, 19px) rotate(45deg);
}

.user-settings-btn:hover .btn-info{
    display: block;
}