.user-details{
    height: 420px;
    width: 340px;
    background-color: #232428;
    position: fixed;
    border-radius: 8px;
    transform: translate(-30px, -250px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ud-top-bg{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 60px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ud-top-bg>button{
    background-color: #232428;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.ud-avatar{
    position: fixed;
    border-radius: 50%;
    transform: translate(20px,-50px);
}

.ud-avatar-img{
    border: 8px solid #232428;
    height: 88px;
    border-radius: 50%;
    width: 88px;
}
.ud-active-status{
    position: fixed;
    right: 5px;
    bottom: 18px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    outline: 7px solid #232428;
}
.udas-icon.online{
    background-color: #32ae5f;
    height: 100%;
}

.ud-active-status.idle{
    background-color: #f0b232;
}
.udas-icon.idle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #232428;
}
.ud-active-status.dnd{
    background-color: #f23f43;
    display: flex;
    justify-content: center;
    align-items: center;
}
.udas-icon.dnd{
    background-color: #232428;
    height: 5px;
    border-radius: 10px;
    width: 13px;
}
.udas-icon.invisible{
    height: 16px;
    border-radius: 50%;
    width: 16px;
    background-color: #232428;
    border: 4px solid #b7ddff76;
}


.ud-user-info{
    width: calc(100% - 40px);
    height: calc(100% - 130px);
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(21, 21, 21);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.udui-username{
    width: 100%;
    border-bottom: 1px solid #787b8756;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
    cursor: pointer;
    user-select: none;
}
.udui-copy-icon{
    display: none;
    color: #fff;
}
.udui-username:hover .udui-copy-icon{
    display: block;
}
.udui-username h2{
    line-height: 1;
    color: #fff;
}
.udui-copy-username{
    position: fixed;
    white-space: nowrap;
    z-index: 999;
    font-size: 13px;
    background-color: #1e1f22;
    color: #fff;
    padding: 6px 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transform: translate(40px, -40px);
    display: none;
}
.udui-copy-username::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #1e1f22;
    transform: translate(70px,20px) rotate(45deg);
}
.udui-username:hover .udui-copy-username{
    display: block;
}
.copied{
    position: fixed;
        white-space: nowrap;
        z-index: 999;
        font-size: 13px;
        background-color: #248046;
        color: #fff;
        padding: 6px 15px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        transform: translate(100px, -40px);
}
.copied::before{
    content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #248046;
        transform: translate(20px,20px) rotate(45deg);
}


.udui-extra-info{
    padding: 0 10px 10px;
    border-bottom: 1px solid #787b8756;
}
.udui-extra-info h5{
    margin-top: 10px;
    color: #fff;
}
.udui-extra-info p{
    font-size: 12px;
    margin-top: 5px;
}

.udui-set-active-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    color:#fff;
    background-color: transparent;
}
.udui-set-active-status:hover{
    background-color: #7679854a;
    color: #fff;
}
.udui-arrow-icon>button{
    font-size: 16px;
    color: #fff;
    background-color: transparent;
}

.udui-set-custom-status{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}
.udui-set-custom-status:hover{
    background-color: #7679854a;
    color: #fff;
}

.activeStatusContainer{
    position: absolute;
    width: 350px;
    height: 235px;
    background-color: transparent;
    z-index: 5;
    transform: translate(270px, -80px);
    padding: 0 20px;
    border-radius: 5px;
}

.activeStatusContainer button{
    cursor: pointer;
}

.asc-main{
    width: 100%;
    background-color: #111214;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ascm-on-btn{
    width: 100%;
    display: flex;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    align-items: center;
    background-color: transparent;
    color: #fff;
}
.ascm-on-btn:hover{
    background-color: #5865f2;
}
.st-online{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #32ae5f;
    margin-right: 10px;
}
.ascm-on-btn:hover .st-online{
    background-color: #fff;
}

.ascm-idle-btn{
    width: 100%;
    display: flex;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    align-items: center;
    background-color: transparent;
    color: #fff;
}
.st-idle{
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #f0b232;
}
.sti-idle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #111214;
}
.ascm-idle-btn:hover, .ascm-idle-btn:hover .sti-idle{
    background-color: #5865f2;
}
.ascm-idle-btn:hover .st-idle{
    background-color: #fff;
}

.ascm-dnd{
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}
.ascm-dnd-btn-info{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.ascm-dnd>p{
    font-size: 10px;
    margin-left: 7px;
    color: #ffffff9c;
}
.ascm-dnd:hover, .ascm-dnd:hover .stdnd-dnd{
    background-color: #5865f2;
}
.ascm-dnd:hover .st-dnd{
    background-color: #fff;
}
.st-dnd{
    margin-right: 10px;
    height: 14px;
    width: 14px;
    background-color: #f23f43;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stdnd-dnd{
    width: 10px;
    height: 4px;
    background-color:#111214;
    border-radius: 8px;
}

.ascm-invisible{
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}
.ascm-invisible:hover, .ascm-invisible:hover .stinv-inv{
    background-color: #5865f2;
}
.ascm-invisible:hover .st-inv{
    background-color: #fff;
}
.ascm-inv-btn-info{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.st-inv{
    width: 14px;
    margin-right: 10px;
    height: 14px;
    background-color: #b7ddff76;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
.stinv-inv{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #111214;
}
.ascm-invisible>p{
    font-size: 10px;
    text-align: left;
    margin-left:25px;
    color: #ffffff9c;
}