.settings-page{
    height: 100vh;
    width: 100%;
    background-color: #313338;
    overflow: hidden;
}
.sp-title{
    top: 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #fff;
    margin: 0 auto;
}
.esc-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aeb3ba;
    cursor:pointer;
}
.sp-profile-settings{
    
}