*{
    box-sizing: border-box;
}

.userHomePage{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    min-width: 100%;
    max-width: 100%;
    font-family: "gg sans", " Noto Sans", " Helvetica Neue", Helvetica, Arial, sans-serif;
}